<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>StudentMangementSystem</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>url</param-name>
    <param-value>jdbc:mysql:@localhost:3306:shivadb</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>StudentRegisterServlet</display-name>
    <servlet-name>StudentRegisterServlet</servlet-name>
    <servlet-class>com.src.StudentRegisterServlet</servlet-class>
    <init-param>
      <param-name>inf</param-name>
      <param-value>this is only for student registration</param-value>
    </init-param>
    <init-param>
      <param-name>driver-class</param-name>
      <param-value>com.mysql.cj.jdbc.Driver</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentRegisterServlet</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteStudent</display-name>
    <servlet-name>DeleteStudent</servlet-name>
    <servlet-class>com.src.DeleteStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteStudent</servlet-name>
    <url-pattern>/DeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateServlet</display-name>
    <servlet-name>UpdateServlet</servlet-name>
    <servlet-class>com.src.UpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateServlet</servlet-name>
    <url-pattern>/update</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogicServlet</display-name>
    <servlet-name>LogicServlet</servlet-name>
    <servlet-class>com.src.LogicServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogicServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
</web-app>